@CHARSET "UTF-8";

.insertScreen {
	margin:auto;
}

.nowScreenInfo{
	margin:auto;
	margin-bottom: 70px;
}

.center {
	text-align:center; margin:auto;
}

table {border-collapse:collapse; margin:auto;}
table caption {font: bold 3em 'Malgun Gothic'; padding-bottom:25px; width: 300px; margin: auto;}
table th, table td {
	border: 1px solid #DBDBDB;
	font: 10pt 'Malgun Gothic';
	padding: 5px 5px 5px 5px;
	}
	
table th{
	border: 1px solid #DBDBDB;
	padding:10px; 
	font: 10pt 'Malgun Gothic';
	padding: 3px 28px 0 28px;
	background-color: rgb(255, 0, 0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 71, 71, 0.8)), to(rgba(255, 84, 84, 0.9)));
	color:white;
}


table.deleteMovie {margin-bottom:85px;}