@CHARSET "UTF-8";
body.rankBody{overflow:hidden; margin: 5px;}
table .login {border-collapse:collapse; align:center;}
table caption .login {font-family:나눔고딕코딩; font-size:1.5em; padding-bottom:5px;}
table th, table td .login{
	font-family: monospace; padding:10px; padding-bottom:10px;
	background-color: rgb(255, 0, 0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 71, 71, 0.8)), to(rgba(255, 84, 84, 0.9)));
}
/* 링크 메시지를 계속해서 검정으로 보이게한다.*/
A:link {color:black; text-decoration:none;}
A:visited {color:black; text-decoration:none;}
A:hover {color:black; text-decoration:none;}
A:active {color:black; text-decoration:none;}


/* 링크 메시지를 계속해서 흰색으로 보이게한다.*/
A.movie_btnreserve:link {color:white; text-decoration:none;}
A.movie_btnreserve:visited {color:white; text-decoration:none;}
A.movie_btnreserve:hover {color:white; text-decoration:none;}
A.movie_btnreserve:active {color:white; text-decoration:none;}

.smallfont{
	font-family:'돋움체';
	font-size:12px;
}

#first_first {width: 800px; float: left; height: 300px; text-align: center;}
#first_second {width: 396px; float: left; height: 300px; text-align: center;}

#second {clear: left; height: 300px; margin:auto;}

#third {height: 300px;margin:5px;}
#third_first {width: auto; float: left; height: 300px text-align: center; padding-top:0px;}
#third_second {width: 388px; float: left; height: 300px text-align: center; overflow:hidden;}
#third_third {width: auto; float: left; height: 300px; text-align: center; overflow:hidden;}

.main_img {width:auto; height: 180px; margin:auto;}
.ad_img {height: 200px; width:auto;}
.login {
	padding: 46px;
	width: 350px;
	height: 200px;
	margin: auto;
	color: white;
}

.poster_img{width:auto; height:180px}


.rank {
	width: auto; background-color: rgb(230, 230, 230); border-radius: 24px;
	margin: auto; text-align:center;
	font: 10pt 'Malgun Gothic';
	padding: 3px 40px 0 40px;
	}


.userInfo {
	border-collapse:collapse;
	width: 285px;
	height: 132px;
	margin: auto;
	margin-top: 75px;
	font-weight: normal;
}
.userInfo td {border: gray solid 1px; text-align: center; border-collapse:collapse;}
.userInfo td.name {
	font-weight: bold;
	font-size:25px;
	border:0px;
	text-align: left;
	
	}
.userInfo td.btn {
	border-top: 0px;
	border-right: 0px;
	border:0px;
	text-align: right;
	}

.logoutbtn {
	padding:4px 15px 4px 15px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	background-color: rgb(172, 172, 172);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(87, 87, 87, 0.8)), to(rgba(138, 138, 138, 0.9)));
	border: 1px solid #ccc;

	font-family: 나눔고딕, "맑은 고딕";
	font-weight: 800;
	color: #fff;
	text-align: center;
	
}


.img {margin-left: 65px;}





.ranknum {
	width: 122px;
	margin: auto;
	padding: 2px;
	color:white;
	background-color: rgb(255, 0, 0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 71, 71, 0.8)), to(rgba(255, 84, 84, 0.9)));
	}
	
.movie_title {
	font-weight: bold;
	font-size: 14pt;
	margin: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 115px;
	}
	
.movie_opendate {margin: 0px;}

.movie_btnreserve {
	background-color: rgb(255, 0, 0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 71, 71, 0.8)), to(rgba(255, 84, 84, 0.9)));
	board-radius: 45px;
	border-radius: 8px;
	padding: 1px 5px 1px 5px;
	
}

.btn {margin: 4px 0 4px 0;}
.age19 {background-color:red; border-radius:20px; width: 18px; color: white; float: left;}
.age15 {background-color:rgb(101, 101, 177); border-radius:20px; width: 18px; color: white; float: left;}
.ageAll {background-color:green; border-radius:20px; width: 25px; color: white; float: left;}