@CHARSET "UTF-8";

/* UI Object */
body{_text-align:center; background-color:black;}
div{margin:0 0 10px; font-family:나눔고딕코딩;font-size:14px;font-weight:bold}
#wrap{width:1200px;margin:0 auto;_text-align:left; background-color: white;}

#logo {background-color:black; margin:auto; padding: 0 0 0 394px;}

#header{width:100%; background-color: #000000; margin-bottom: 0px;}

#container{width:1266px; display:inline-block}

#container:after{display:block;clear:both;content:''}

#header,#container{padding:15px;}

.snb,#content{margin-top:10px;text-align:center}

.snb{float:left;width:180px}


/* #content{float:right;width:1200px} */
#footer{clear:both;margin:0;padding:22px 0 30px;border-top:1px solid #dedede;text-align:center; background-color:#eb362f;}

#footer ul,#footer li,#footer a,#footer strong,#footer img,#footer em,#footer address,#footer span{margin:0;padding:0;color:#afafaf;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;font-size:12px;line-height:normal;list-style:none;font-style:normal}

#footer a{color:#afafaf;text-decoration:none}

#footer a:visited{color:#afafaf;text-decoration:none}

#footer a:hover{text-decoration:underline}

#footer ul{margin:0 0 10px}

#footer ul li{display:inline;position:relative;padding:0 5px 0 7px;background:url(http://static.naver.com/common/footer/bu_bar2.gif) 0 50% no-repeat;font-size:12px;white-space:nowrap}

#footer ul li a:hover,#footer ul li a:hover strong{color:#438a01}

#footer ul li.frst{padding:0 3px 0 0;background:none}

#footer .info{margin:0 0 11px;color:#FFFFFF;font-size:11px;line-height:15px}

#footer .info2{margin:-3px 0 13px;font-size:11px;line-height:18px}

#footer .info2 span{display:inline-block;margin-left:2px;padding-left:7px;background:url(http://static.naver.com/common/footer/bu_bar2.gif) 1px 50% no-repeat;_background-position:left 10%;font-size:11px}

#footer address{font-family:Verdana;font-size:9px;line-height:14px}

#footer address img{vertical-align:middle}

#footer address a{color:#afafaf;font-family:Tahoma;font-size:9px;font-weight:bold}

#footer address a:hover{color:#009bc8}

#footer address span{padding-left:2px;font-family:Verdana;font-size:9px;line-height:14px}

#footer address em{padding-left:6px;font-family:Verdana;font-size:9px}

#footer address .logo{display:inline-block;*display:inline;vertical-align:top;*vertical-align:baseline}




/* Menu Bar*/


#header {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  width: 1200px;
  margin: auto;
}
#header > ul {
  width: auto;
  list-style-type: none;
  margin: 0;
  padding: 10px 16px 10px 11px;
  background: #eb362f;
  /*border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#header > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#header > ul li {
  background-color: #eb362f;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#header > ul li.right {
  float: right;
}
#header > ul li.has-sub {
  position: relative;
}
#header > ul li.has-sub-right {
  position: relative;
    float:right;

}

#header > ul li.has-sub:hover ul {
  display: block;
}
#header > ul li.has-sub-right:hover ul {
  display: block;
    float:right;
}
#header > ul li.has-sub ul {
  display: none;
  width: 145px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#header > ul li.has-sub-right ul {
  display: none;
  width: 112px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
  float:right;
}
#header > ul li.has-sub ul li {
  display: block;
}
#header > ul li.has-sub-right ul li {
  display: block;
  float:right;
  width:100%;
}
#header > ul li.has-sub > a {
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#header > ul li.has-sub-right > a {
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#header > ul li.has-sub > a.active,
#header > ul li.has-sub > a:hover {
  background-position: 90% 195%;
}
#header > ul li.has-sub-right > a.active,
#header > ul li.has-sub-right > a:hover {
  background-position: 90% 195%;

}
#header > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #FFFFFF;
  /*text-shadow: 0px 1px 0px #fff;*/
}
#header > ul li a.active,
#header > ul li a:hover {
  background: #fff;
  color: #eb362f;
/*   text-shadow: 0px 1px 0px #000; */
}
@media (max-width: 600px) {
  #header > ul {
    width: 100%;
  }
  #header > ul li#responsive-tab {
    display: block;
  }
  #header > ul li#responsive-tab a {
    background-position: 95% -35%;
  }
  #header > ul li#responsive-tab a:hover {
    background-color: #d80041;
    background-position: 95% 135%;
  }
  #header > ul li {
    display: none;
  }
  #header > ul li.right {
    float: none;
  }
  #header > ul li.has-sub {
    position: relative;
  }
  #header > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #eb362f;
    border: 0 none;
  }
  #header > ul li.has-sub ul li {
    display: block !important;
  }
  #header > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #header > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #header > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #header > ul ul li.collapsed {
    display: block !important;
  }
}