@CHARSET "UTF-8";
.login

table .login {border-collapse:collapse; }
table caption .login {font-family:나눔고딕코딩; font-size:1.5em; padding-bottom:5px;}
table th, table td .login{font-family: monospace; padding:10px; padding-bottom:10px; background-color: cornflowerblue;}

.smallfont{
	font-family:'돋움체';
	font-size:12px;
}