@CHARSET "UTF-8";

#btninsert {
	background-color: antiquewhite;
	width: 100px;
	height: 100px;
}



/* UI Object */
body{_text-align:center}
div{margin:0 0 10px;padding:10px 0; font-family:나눔고딕코딩;font-size:14px;font-weight:bold}
#wrap{width:600px;margin:0 auto;_text-align:left; padding:10px;border:1px solid #bdbdbd;}}
#container{width:1200px; display:inline-block}
#container:after{display:block;clear:both;content:''}

#header,#container{padding:15px;border:2px solid #bfbfbf; width:auto}

.snb,#content{margin-top:10px;border:1px solid #bdbdbd;text-align:center}

.snb{float:left;width:180px}
#content{float:right;width:1200px}

#content {
	float: left; 
	/* Opera5.02 will show a space at 
	right when there is no scroll bar */
	padding: 10px 2% 10px 2%;
	margin: 0px;
	width: 76%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 81%;
	height: 100%;
	}
html>body #content {
	width: 75%; /* ie5win fudge ends */
	}


.snb {
	float: left;
	margin: 0px;
	border: 1px;
	width: 50%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 15%;
	font-family: 'Nanum Gothic', Dotum, sans-serif;
	font-size: 15px;
	line-height: 60px;
	text-transform: uppercase;
	text-align: left;
	padding-top: 10px;
	}
html>body .snb {
	width: 20%; /* ie5win fudge ends */
	}
	
.snb_info {
	padding: 10px 2% 10px 2%;
}

.snb > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.snb > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
.snb > ul li {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.snb > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
.snb > ul li a.active,
.snb > ul li a:hover {
  background: #d80041;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  .snb > ul {
    width: 100%;
  }
  .snb > ul li#responsive-tab {
    display: block;
  }
  .snb > ul li#responsive-tab a {
    background-position: 95% -35%;
  }
  .snb > ul li#responsive-tab a:hover {
    background-color: #d80041;
    background-position: 95% 135%;
  }
  .snb > ul li {
    display: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  .snb > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  .snb > ul ul li.collapsed {
    display: block !important;
  }
}
