@CHARSET "UTF-8";

table {border-collapse:collapse;}
td {padding:20px;}

#reserve_content {
	border:solid 1px gray; 
	margin-top:10px;
	border:1px solid #bdbdbd;
	text-align:center;
	/* Opera5.02 will show a space at 
	right when there is no scroll bar */
	padding: 10px 2% 10px 2%;
	voice-family: "\"}\"";
	voice-family:inherit;
	}


.seat_top {border:solid 1px gray; height:100px; margin-bottom: 0px; text-align:center;}
.seat_content {border:solid 1px gray; margin-top:0px; text-align:center;}
.seat_table {margin:auto; }
