<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.moebius.location.LocationMapper">
	
	<select id="getLocationList" parameterType="int" resultType="LocationVO">
	SELECT location_no, location_name, location_addr, location_addx, location_addy, location_phone  
	FROM m_location
	WHERE location_no = #{location_no}
	</select>
	
</mapper>