<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
    PUBLIC "-//mybatis.org//DTD SQL Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.moebius.board.BoardMapper">
		<select id="getBoardList" parameterType="Pagination" resultType="BoardVO">
					SELECT B.*
					FROM (SELECT rownum as rnum, A.*
						  FROM (SELECT b.board_no, b.board_title, u.user_name AS "userVO.user_name", u.user_id AS "userVO.user_id",
						  				to_char(b.board_regdate, 'YY/MM/DD') AS "board_regdate", b.board_count
						  		FROM m_user u JOIN m_board b
										      ON u.user_id = b.user_id
								WHERE b.bno=#{bno}
								ORDER BY b.board_no DESC) A ) B
			<![CDATA[ WHERE ${startnum} <= rnum AND rnum <= ${endnum} ]]>
		</select>
		
		<select id="getBoardInfo" parameterType="int" resultType="BoardInfoVO">
			SELECT bno, bname, user_id
			FROM m_board_info
			WHERE bno = #{bno}
		</select>
		
		<insert id="insertBoard" parameterType="BoardVO">		
			INSERT INTO m_board(board_no, board_title, user_id, board_content, bno)
			VALUES(seq_board_no.nextval, #{board_title}, #{userVO.user_id}, #{board_content}, #{bno})
		</insert>
		
		<select id="getDetail" parameterType="int" resultType="BoardVO">
			SELECT b.board_no, b.board_title, u.user_name AS "userVO.user_name", u.user_id AS "userVO.user_id", b.board_regdate, b.board_count, b.board_content
			FROM m_user u join m_board b
							on u.user_id = b.user_id
			WHERE b.board_no=#{board_no}
		</select>
		
		<update id="updateBoard" parameterType="BoardVO">
			UPDATE m_board SET board_title=#{board_title}, board_content=#{board_content}			
			WHERE board_no=#{board_no} AND user_id=#{userVO.user_id}
		</update>
		
		<delete id="deleteBoard" parameterType="BoardVO">
			DELETE m_board WHERE board_no=#{board_no} AND user_id=#{userVO.user_id}
		</delete>
		
		<update id="updateCount" parameterType="int">
			UPDATE m_board SET board_count=board_count+1
			WHERE board_no=#{board_no}
		</update>
		
		<select id="totalRecord" parameterType="int" resultType="int">
			SELECT count(*) AS cnt
			FROM   m_board
			WHERE bno=#{bno}
		</select>
</mapper>