<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
    PUBLIC "-//mybatis.org//DTD SQL Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.moebius.comment.CommentMapper">
	
	<insert id="insertComment" parameterType="CommentVO">
	INSERT INTO m_comment(comment_no, movie_no, user_id, comment_star, comment_review )
	VALUES(seq_comment_no.nextval, #{movie_no}, #{user_id}, #{comment_star}, #{comment_review} )
	</insert>
	
	<select id="getCommentList" parameterType="int" resultType="CommentVO">
	SELECT *
	FROM   m_comment
	WHERE  movie_no = #{movie_no}
	ORDER  BY comment_no DESC
	</select>
	
	<select id="avgstar" parameterType="int" resultType="int">
	SELECT count(*) AS cnt
	FROM   m_comment
	WHERE movie_no = #{movie_no}
	</select>
	
	<delete id="deleteComment" parameterType="CommentVO">
	DELETE FROM m_comment
	WHERE comment_no = #{comment_no}
	</delete>
	
</mapper>