<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.moebius.schedule.ScheduleMapper">

<insert id="insertSchedule" parameterType="ScheduleVO">
INSERT INTO m_schedule(schedule_no, schedule_date, schedule_time, screen_no)
VALUES(seq_schedule_no.nextval, to_date(#{schedule_date},'YYYYMMDD'), to_date(#{schedule_time},'HH24:MI'), #{screen_no})

</insert>
</mapper>