<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.moebius.screen.ScreenMapper">

<insert id="insertAction" parameterType="ScreenVO">
	INSERT INTO m_screen(screen_no, screen_name, movie_no, location_no)
	VALUES(seq_screen_no.nextval,#{screen_name},#{movie_no},#{location_no})
</insert>

<select id="selectNo" parameterType="ScreenVO" resultType="int">
	SELECT MAX(screen_no)
	FROM m_screen
	WHERE movie_no=#{movie_no} AND location_no=#{location_no}
</select>

<select id="selectReserveScreen" parameterType="int" resultType="ScreenVO">
	SELECT s.screen_no, s.screen_name, s.movie_no, l.location_no, l.location_name
	FROM m_location l JOIN m_screen s
	ON l.location_no = s.location_no
	WHERE s.movie_no = #{movie_no}
</select>

<select id="countInsert" parameterType="ScreenVO" resultType="int">
	SELECT count(*) AS cnt
	FROM m_screen
	WHERE movie_no=#{movie_no} AND location_no=#{location_no}
</select>

<select id="selectReserveMovie" parameterType="int" resultType="ScreenVO">
	 SELECT s.screen_no, s.screen_name, m.movie_no, m.movie_title
	 FROM m_movie m JOIN m_screen s
	 ON m.movie_no = s.movie_no
	 WHERE s.location_no = #{location_no}
</select>
</mapper>